<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=연결되는 인터페이스 -->    
<mapper namespace="com.kh.cat.common.dao.CommonInter">
	<!-- 글쓰기(등록된 글의 idx 컬럼을 반환해야한다.(몇가지 옵션이 필요하다.)) -->
	<!-- 
		parameterType 지정 (파라메터로 사용될 dto(bean))
		useGenertedKeys = "true" (insert 후 키 생성 여부)
		keyProperty = "idx" (키가 될 필드(dto변수))
		keyColumn = "idx" (키가 저장될 DB 컬럼)
	-->
	<select id="receivelist" resultType="dm">
		SELECT * FROM dm WHERE id=#{param1}
	</select>
	<select id="sendlist" resultType="dm">
		SELECT * FROM dm WHERE dm_id=#{param1}
	</select>
	<select id="receivedetail" resultType="dm">
		SELECT * FROM dm WHERE dm_idx=#{param1}
	</select>
	<select id="senddetail" resultType="dm">
		SELECT * FROM dm WHERE dm_idx=#{param1}
	</select>
	<select id="memberpoint" resultType="String">
		SELECT pointCnt FROM member WHERE id=#{param1}
	</select>
	<select id="pointlist" resultType="pointList">
		SELECT * FROM pointList WHERE id=#{param1}
	</select>
	<select id="couponlist" resultType="couponBox">
		SELECT * FROM couponbox WHERE id=#{param1}
	</select>
	
	
	<select id="storeSearch" resultType="store">
		SELECT * FROM store WHERE store_name Like '%'||#{param1}||'%'
	</select>
</mapper>



















