<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=연결되는 인터페이스 -->    
<mapper namespace="com.kh.cat.member.dao.MemberInter">

	<!-- 로그인 -->
	<select id="login" resultType="member" parameterType="String">
		SELECT id,aut FROM member WHERE id=#{param1} AND pw=#{param2}
	</select>
	
	<!-- 회원가입 -->	
	<insert id="join" parameterType="member">
		INSERT INTO member(id,pw,name,email,phone,profile,aut,pointCnt,revCnt,followCnt)
			VALUES(#{id},#{pw},#{name},#{email},#{phone},#{profile},'user',0,0,0)
		<!-- <if test="!email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
		</if>
		<if test="email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},'없음')
		</if> -->
	</insert>
	
	<select id="profileimg" resultType="member">
		SELECT profile FROM member WHERE id=#{param1}
	</select>	
	
	<select id="profileunder" resultType="member">
		SELECT * FROM member WHERE id=#{param1}
	</select>
    
    <!-- id 중복체크-->
    <select id="overlay" resultType="String">
        SELECT id FROM member WHERE id=#{param1}
    </select>

	
	
	
</mapper>











