<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=연결되는 인터페이스 -->    
<mapper namespace="com.kh.cat.member.dao.MemberInter">
	<select id="login" resultType="String">
		SELECT id FROM member WHERE id=#{param1} AND pw=#{param2}
	</select>
	
	<insert id="join" parameterType="member">
		INSERT INTO member(id,pw,name,email,phone,profile,aut,pointCnt,revCnt,followCnt)
			VALUES(#{id},#{pw},#{name},#{email},#{phone},#{profile},'user',0,0,0)
		<!-- <if test="!email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
		</if>
		<if test="email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},'없음')
		</if> -->
	</insert>
	
	
	
</mapper>









